# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/

# ==========================================
# Environment / Secrets
# ==========================================
.env
.env.*

# ==========================================
# ML Models
# ==========================================
*.pt
*.onnx
*.engine

# ==========================================
# Training Outputs
# ==========================================
runs/
mlruns/

# ==========================================
# Dataset
# ==========================================
datasets/raw/
datasets/cache/

# ==========================================
# Runtime Images
# ==========================================
images/
heat-result/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# MLflow
# ==========================================

mlflow.db
mlruns/
mlops/artifacts/