--
-- PostgreSQL database dump
--

\restrict 1Wkr9sNdhfPul5veS0fL0t3m7fhdklfMxHSmAFNjiwZlh72weso24LbEt8FXefY

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: belt; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA belt;


ALTER SCHEMA belt OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: camera; Type: TABLE; Schema: belt; Owner: postgres
--

CREATE TABLE belt.camera (
    camera_id integer NOT NULL,
    machine_id integer NOT NULL,
    camera_name character varying(100) NOT NULL,
    serial_number character varying(100),
    ip_address character varying(50),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE belt.camera OWNER TO postgres;

--
-- Name: camera_camera_id_seq; Type: SEQUENCE; Schema: belt; Owner: postgres
--

CREATE SEQUENCE belt.camera_camera_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE belt.camera_camera_id_seq OWNER TO postgres;

--
-- Name: camera_camera_id_seq; Type: SEQUENCE OWNED BY; Schema: belt; Owner: postgres
--

ALTER SEQUENCE belt.camera_camera_id_seq OWNED BY belt.camera.camera_id;


--
-- Name: detection; Type: TABLE; Schema: belt; Owner: postgres
--

CREATE TABLE belt.detection (
    detection_id bigint NOT NULL,
    image_id bigint NOT NULL,
    class_id integer NOT NULL,
    class_name character varying(30) NOT NULL,
    confidence numeric(6,4),
    x1 integer NOT NULL,
    y1 integer NOT NULL,
    x2 integer NOT NULL,
    y2 integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT detection_confidence_check CHECK (((confidence >= (0)::numeric) AND (confidence <= (1)::numeric)))
);


ALTER TABLE belt.detection OWNER TO postgres;

--
-- Name: detection_detection_id_seq; Type: SEQUENCE; Schema: belt; Owner: postgres
--

CREATE SEQUENCE belt.detection_detection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE belt.detection_detection_id_seq OWNER TO postgres;

--
-- Name: detection_detection_id_seq; Type: SEQUENCE OWNED BY; Schema: belt; Owner: postgres
--

ALTER SEQUENCE belt.detection_detection_id_seq OWNED BY belt.detection.detection_id;


--
-- Name: image; Type: TABLE; Schema: belt; Owner: postgres
--

CREATE TABLE belt.image (
    image_id bigint NOT NULL,
    camera_id integer NOT NULL,
    filename text NOT NULL,
    image_path text NOT NULL,
    result_path text,
    image_width integer,
    image_height integer,
    capture_time timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'WAITING'::character varying NOT NULL,
    processed_time timestamp without time zone,
    inference_time_ms numeric(8,2),
    error_message text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT image_status_check CHECK (((status)::text = ANY ((ARRAY['WAITING'::character varying, 'PROCESSING'::character varying, 'DONE'::character varying, 'ERROR'::character varying])::text[])))
);


ALTER TABLE belt.image OWNER TO postgres;

--
-- Name: image_image_id_seq; Type: SEQUENCE; Schema: belt; Owner: postgres
--

CREATE SEQUENCE belt.image_image_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE belt.image_image_id_seq OWNER TO postgres;

--
-- Name: image_image_id_seq; Type: SEQUENCE OWNED BY; Schema: belt; Owner: postgres
--

ALTER SEQUENCE belt.image_image_id_seq OWNED BY belt.image.image_id;


--
-- Name: machine; Type: TABLE; Schema: belt; Owner: postgres
--

CREATE TABLE belt.machine (
    machine_id integer NOT NULL,
    machine_code character varying(30) NOT NULL,
    machine_name character varying(100) NOT NULL,
    location character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE belt.machine OWNER TO postgres;

--
-- Name: machine_machine_id_seq; Type: SEQUENCE; Schema: belt; Owner: postgres
--

CREATE SEQUENCE belt.machine_machine_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE belt.machine_machine_id_seq OWNER TO postgres;

--
-- Name: machine_machine_id_seq; Type: SEQUENCE OWNED BY; Schema: belt; Owner: postgres
--

ALTER SEQUENCE belt.machine_machine_id_seq OWNED BY belt.machine.machine_id;


--
-- Name: camera camera_id; Type: DEFAULT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.camera ALTER COLUMN camera_id SET DEFAULT nextval('belt.camera_camera_id_seq'::regclass);


--
-- Name: detection detection_id; Type: DEFAULT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.detection ALTER COLUMN detection_id SET DEFAULT nextval('belt.detection_detection_id_seq'::regclass);


--
-- Name: image image_id; Type: DEFAULT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.image ALTER COLUMN image_id SET DEFAULT nextval('belt.image_image_id_seq'::regclass);


--
-- Name: machine machine_id; Type: DEFAULT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.machine ALTER COLUMN machine_id SET DEFAULT nextval('belt.machine_machine_id_seq'::regclass);


--
-- Data for Name: camera; Type: TABLE DATA; Schema: belt; Owner: postgres
--

COPY belt.camera (camera_id, machine_id, camera_name, serial_number, ip_address, is_active, created_at) FROM stdin;
1	1	Camera 1	CAM001	192.168.1.100	t	2026-08-06 08:51:37.927486
\.


--
-- Data for Name: detection; Type: TABLE DATA; Schema: belt; Owner: postgres
--



--
-- Data for Name: image; Type: TABLE DATA; Schema: belt; Owner: postgres
--



--
-- Data for Name: machine; Type: TABLE DATA; Schema: belt; Owner: postgres
--

COPY belt.machine (machine_id, machine_code, machine_name, location, is_active, created_at) FROM stdin;
1	MC001	Machine 1	Factory A	t	2026-08-06 08:51:24.273839
\.


--
-- Name: camera_camera_id_seq; Type: SEQUENCE SET; Schema: belt; Owner: postgres
--

SELECT pg_catalog.setval('belt.camera_camera_id_seq', 1, true);


--
-- Name: detection_detection_id_seq; Type: SEQUENCE SET; Schema: belt; Owner: postgres
--

SELECT pg_catalog.setval('belt.detection_detection_id_seq', 134, true);


--
-- Name: image_image_id_seq; Type: SEQUENCE SET; Schema: belt; Owner: postgres
--

SELECT pg_catalog.setval('belt.image_image_id_seq', 105, true);


--
-- Name: machine_machine_id_seq; Type: SEQUENCE SET; Schema: belt; Owner: postgres
--

SELECT pg_catalog.setval('belt.machine_machine_id_seq', 1, true);


--
-- Name: camera camera_camera_name_key; Type: CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.camera
    ADD CONSTRAINT camera_camera_name_key UNIQUE (camera_name);


--
-- Name: camera camera_pkey; Type: CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.camera
    ADD CONSTRAINT camera_pkey PRIMARY KEY (camera_id);


--
-- Name: camera camera_serial_number_key; Type: CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.camera
    ADD CONSTRAINT camera_serial_number_key UNIQUE (serial_number);


--
-- Name: detection detection_pkey; Type: CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.detection
    ADD CONSTRAINT detection_pkey PRIMARY KEY (detection_id);


--
-- Name: image image_pkey; Type: CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.image
    ADD CONSTRAINT image_pkey PRIMARY KEY (image_id);


--
-- Name: machine machine_machine_code_key; Type: CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.machine
    ADD CONSTRAINT machine_machine_code_key UNIQUE (machine_code);


--
-- Name: machine machine_pkey; Type: CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.machine
    ADD CONSTRAINT machine_pkey PRIMARY KEY (machine_id);


--
-- Name: idx_detection_class; Type: INDEX; Schema: belt; Owner: postgres
--

CREATE INDEX idx_detection_class ON belt.detection USING btree (class_name);


--
-- Name: idx_detection_image; Type: INDEX; Schema: belt; Owner: postgres
--

CREATE INDEX idx_detection_image ON belt.detection USING btree (image_id);


--
-- Name: idx_image_camera; Type: INDEX; Schema: belt; Owner: postgres
--

CREATE INDEX idx_image_camera ON belt.image USING btree (camera_id);


--
-- Name: idx_image_capture_time; Type: INDEX; Schema: belt; Owner: postgres
--

CREATE INDEX idx_image_capture_time ON belt.image USING btree (capture_time);


--
-- Name: idx_image_status; Type: INDEX; Schema: belt; Owner: postgres
--

CREATE INDEX idx_image_status ON belt.image USING btree (status);


--
-- Name: camera camera_machine_id_fkey; Type: FK CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.camera
    ADD CONSTRAINT camera_machine_id_fkey FOREIGN KEY (machine_id) REFERENCES belt.machine(machine_id);


--
-- Name: detection detection_image_id_fkey; Type: FK CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.detection
    ADD CONSTRAINT detection_image_id_fkey FOREIGN KEY (image_id) REFERENCES belt.image(image_id) ON DELETE CASCADE;


--
-- Name: image image_camera_id_fkey; Type: FK CONSTRAINT; Schema: belt; Owner: postgres
--

ALTER TABLE ONLY belt.image
    ADD CONSTRAINT image_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES belt.camera(camera_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 1Wkr9sNdhfPul5veS0fL0t3m7fhdklfMxHSmAFNjiwZlh72weso24LbEt8FXefY

